* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "TT Travels";
  src:
    local("TT Travels"),
    url("../assets/fonts/tt_travels_trial_regular-webfont.woff") format("woff"),
    url("../assets/fonts/tt_travels_trial_regular-webfont.woff2") format("woff2");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #6a5be2;
}

/* Inputs styles */

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 48px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: rgba(0, 0, 0, 0.48);
  font-family: "TT Travels", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.label > p {
  color: #333;
  font-weight: 500;
}
.label > input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(0, 0, 0, 0.04);
  outline: none;
  padding: 12px;
}
.checkbox {
  color: rgba(0, 0, 0, 0.48);
  font-family: "TT Travels", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.checkbox > p {
  color: #333;
  font-weight: 500;
}
.checkbox > label {
  display: flex;
  gap: 8px;
  align-items: center;
}
