.user {
  width: 900px;
  height: 700px;
  padding: 25px;
  background-color: #fff;
  position: relative;
  border-radius: 12px 12px 0px 0px;
  margin-top: 24px;
}
.userHead {
  margin: 0 auto 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.headContent {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 25px;
}
.headAvatar {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #d5e4f7;
  padding: 14px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;

  color: #212830;
  text-align: center;
  font-family: "TT Travels", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 52px;
}
.headName {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.headName div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headName h3 {
  color: #333;
  font-family: "TT Travels", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.headName div > a {
  color: #5558fa;
  font-family: TT Travels;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: none;

  display: flex;
  align-items: center;
  margin-right: 15px;
}
.headName div > a:hover {
  text-decoration-line: underline;
}
.headName div > a img {
  margin-right: 4px;
}

/*  ContactForm */

.contactForm {
  max-width: 400px;
}
.contactForm button {
  border-radius: 4px;
  background: #5558fa;
  padding: 12px 16px;
  border: none;
  cursor: pointer;

  color: #fff;
  font-family: "TT Travels", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.contactForm button:hover {
  background: #6264fc;
}

